body {
    font-family: Arial, sans-serif;
    background-color: #01101c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #4d4d4d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #00e0c2;
    box-shadow: aqua;
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background-color: #3abff6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2d94c2;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}